@import url('bootstrap');
@import url('bootstrap-icons');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans Variable', sans-serif;
  /* background: linear-gradient(145deg, black 0%, rgb(58, 58, 58) 100%); */
  background-color: rgb(58, 58, 58);
}

a {
  text-decoration: none;
}

header {
  margin-bottom: 10rem;
}


.header {
  background: linear-gradient(135deg, rgb(28, 125, 28) 0%,rgb(139, 225, 139) 100%);
  margin: 2rem auto 5rem auto;
  width: 70%;
  border-radius: 50px 50px 50px 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000;
  

  h4 {
    font-size: 16px;
    margin-bottom: -3px;
    font-weight: bold;
    color: rgb(202, 202, 202);
  }

  nav {
    a {
      text-decoration: none;
      color: rgb(95, 76, 79);
      font-weight: bold;
    }

    .active {
      color: rgb(8, 76, 8);
      /* text-shadow: 
        0 0 5px rgba(50, 200, 50, 0.8),
        0 0 10px rgba(50, 200, 50, 0.6),
        0 0 20px rgba(50, 200, 50, 0.4),
        0 0 40px rgba(50, 200, 50, 0.2); */
      background: rgba(50, 200, 50, 0.1);
      border: 2px solid rgba(8, 76, 8, 0.5);
      padding: 0.3rem 0.7rem;
      border-radius: 20px;
    }
  }
}

.jumbo {
  background: linear-gradient(135deg, rgb(139, 225, 139) 0%,rgb(216, 248, 216) 100%);
  text-align: center;

  p {
     margin: 5rem auto;
  }
}

.card {
  border: none;
  color: white;

  span {
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
  }

  h5.cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    span {
      padding: 0.2rem 0.6rem;
      border-radius: 30px 30px 30px 30px;
    }
  }

  .card-body {
    flex-grow: 0;
    padding: 1rem;
  }

  img {
    height: 75%;
    max-width: 90%;
  }
}

.cat-title {
  color: white;
  border-bottom: 3px solid white;
  padding-bottom: 2rem;
}

/* #region Category */
.man {
  background: linear-gradient(180deg, rgba(135, 172, 228, 0.543) -50%, transparent 100%);

  span {
    background-color: blue;
  }

  .card-header {
    background: linear-gradient(180deg,rgba(135, 172, 228, 0.637)  0%,rgba(0, 0, 255, 0.634) 100%);
    color: white;
  }
}

.woman {
  background: linear-gradient(180deg, rgba(252, 211, 218, 0.654) -50%, transparent 100%);
  span {
    background-color: rgb(245, 92, 117);
  }

  .card-header {
    background: linear-gradient(180deg, rgba(252, 211, 218, 0.654) -50%, rgba(251, 116, 139, 0.743)  100%);
    color: white;

    
  }

  .woman .card-header {
    background: linear-gradient(180deg, rgba(228, 212, 39, 0.634) 0%,rgba(213, 203, 87, 0.637) 100%);
    color: white;
  }
   
}

.jewl {
  background: linear-gradient(180deg, rgba(255, 251, 137, 0.561) -20%, transparent 100%);
  
  color: white;

  span {
    background-color: darkgoldenrod;
  }

  
}

.jewl .card-header {
  background: linear-gradient(180deg, rgb(242, 237, 180) -50%,rgb(163, 150, 0) 100%);
  color: white;
}

.elec {
  background: linear-gradient(180deg, rgba(192, 192, 192, 0.259) -20%, transparent 100%);

  span {
    background-color: rgb(128, 128, 128);
  }

  .card-header {
    background: linear-gradient(180deg, rgba(219, 219, 219, 0.592) -50%, rgba(101, 101, 101, 0.592) 100%);
  }
}

/* #endregion Category */

.stars-ctn svg {
  color: gold;
}


.jumbo-card {
  background: linear-gradient(135deg, rgb(139, 225, 139) 0%,rgb(216, 248, 216) 100%);
  text-align: center;

  p {
    margin: 1rem auto;
  }

  img {
    width: 90%;
  }

  
  
}


/* Loading */
.loading-wrap {
  margin: 20rem auto;
  
  
}

/* Single Product Cards */


.prod-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    padding: 5rem 0;
  }


  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card-body > span {
    margin-bottom: 2rem;
  }

  .description {
    padding: 1.5rem;
    background: linear-gradient(135deg, grey 0%,  blue 100%);
  }
}

.btn-ctn {
  padding: 2rem 0 5rem 0;

  button {
    width: 5rem;
  }
}

.btn-ctn.up {
  padding: 0;
  padding-bottom: 2rem;
}


.footer {
  color: white;
  background: linear-gradient(145deg, black 0%, rgb(58, 58, 58) 100%);

  ul {
    list-style-type: none;
    font-size: 12px;
  }

  .address {
    text-align: center;
    font-size: 14px;
    font-style: italic;
  }
}

/* Media Query */
@media (max-width: 576px) {
  .card {
    width: 85%;
    margin: 2rem auto;
  }
}