@import url('bootstrap');
@import url('bootstrap-icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish Variable', sans-serif;
}

.header {
  background: linear-gradient(135deg, rgb(139, 225, 139) 0%,rgb(216, 248, 216) 100%);
  margin: 2rem auto;
  width: 70%;
  border-radius: 50px 50px 50px 50px;
  

  h4 {
    font-size: 16px;
    margin-bottom: -3px;
    font-weight: bold;
    color: rgb(131, 131, 131);
  }

  nav {
    a {
      text-decoration: none;
      color: rgb(150, 150, 83);
      font-weight: bold;
    }
  }
}

.card {
  img {
    height: 20rem;
    width: 20rem;
  }
}